<div>
    <img src="../../../assets/images/fondo_starwars.jpg" width="100%">
</div>  

<section class="fondostarwars">
    <div class="starwars-demo">
        <!--<img src="//cssanimation.rocks/demo/starwars/images/star.svg" alt="Star" class="star img1"> 
        <img src="//cssanimation.rocks/demo/starwars/images/wars.svg" alt="Wars" class="wars img1"> -->
        
            <img src="https://blog.flamingtext.com/blog/2023/05/10/flamingtext_com_1683761233_299057187.png" border="0" alt="Star" class="star img1" title="Logo Design by FlamingText.com">
        
        
            <img src="https://blog.flamingtext.com/blog/2023/05/10/flamingtext_com_1683761342_299057188.png" border="0" alt="Wars" class="wars img1" title="Logo Design by FlamingText.com">
        
        <h2 class="byline" id="byline">The Force Awakens</h2>
    </div>
</section>

























<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <!-- Icono -->
                        <img src="../../../assets/images/online_shopping.png" width="23%">
                        <span class="flaticon-bag"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Envío Gratis*</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <!-- Icono -->
                        <img src="../../../assets/images/support_customer.png" width="23%">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Atención al Cliente</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <!-- Icono -->
                        <img src="../../../assets/images/secure_payments.png" width="23%">
                        <span class="flaticon-payment-security"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Pagos Seguros</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div class="container py-3">
    <div class="row pb-5 mb-4">
        <!-- Tarjeta -->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 pb-5">
            <div class="card shadow-sm border-1 shadow-lg rounded">
                <div class="card-body p-0">
                    <div class="d-flex justify-content-center" style="padding: 7%;">
                        <img src="../../../assets/images/infinity-war.jpg" width="83%">
                    </div>
                    <div class="p-4">
                        <h5 class="mb-0 text-center">Nombre</h5>
                        <br>
                        <div style="display: flex; justify-content: space-evenly;">
                            <a href="" class="btn btn-success" role="button">Ver más</a>
                            <a href="" style="display: flex;flex-direction: column;justify-content: center;">
                                <i class="fa-solid fa-arrows-rotate"></i>
                            </a>
                            <button class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#card${personaje.id}">Vender</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 pb-5">
            <div class="card shadow-sm border-1 shadow-lg rounded">
                <div class="card-body p-0">
                    <div class="d-flex justify-content-center" style="padding: 7%;">
                        <img src="../../../assets/images/infinity-war.jpg" width="83%">
                    </div>
                    <div class="p-4">
                        <h5 class="mb-0 text-center">Nombre</h5>
                        <br>
                        <div style="display: flex; justify-content: space-evenly;">
                            <a href="" class="btn btn-success" role="button">Ver más</a>
                            <a href="" style="display: flex;flex-direction: column;justify-content: center;">
                                <i class="fa-solid fa-arrows-rotate"></i>
                            </a>
                            <button class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#card${personaje.id}">Vender</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 pb-5">
            <div class="card shadow-sm border-1 shadow-lg rounded">
                <div class="card-body p-0">
                    <div class="d-flex justify-content-center" style="padding: 7%;">
                        <img src="../../../assets/images/infinity-war.jpg" width="83%">
                    </div>
                    <div class="p-4">
                        <h5 class="mb-0 text-center">Nombre</h5>
                        <br>
                        <div style="display: flex; justify-content: space-evenly;">
                            <a href="" class="btn btn-success" role="button">Ver más</a>
                            <a href="" style="display: flex;flex-direction: column;justify-content: center;">
                                <i class="fa-solid fa-arrows-rotate"></i>
                            </a>
                            <button class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#card${personaje.id}">Vender</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>



<div class="container">
    <div class="row row-cols-3 mt-5">
        <!-- Tarjeta -->
        <div class=" col card m-2 mt-5" style="width: 18rem;">
            <img src="assets/images/infinity-war.jpg" class="card-img-top" alt="imagen">
            <div class="card-body text-center">
                <h5 class="card-title">nombre</h5>
                <p class="card-text">$---</p>
                <div class="d-flex" style="justify-content: space-evenly">
                    <a href="/DescripcionProducto" class="btn btn-outline-secondary">Ver más</a>
                    <a href="/Inicio" class="ov-btn-slide-left">Añadir</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class=" col card m-2 mt-5" style="width: 18rem;">
            <img src="assets/images/infinity-war.jpg" class="card-img-top" alt="imagen">
            <div class="card-body text-center">
                <h5 class="card-title">nombre</h5>
                <p class="card-text">$---</p>
                <div class="d-flex" style="justify-content: space-evenly">
                    <a href="/DescripcionProducto" class="btn btn-outline-secondary">Ver más</a>
                    <a href="/Inicio" class="ov-btn-slide-left">Añadir</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class=" col card m-2 mt-5" style="width: 18rem;">
            <img src="assets/images/infinity-war.jpg" class="card-img-top" alt="imagen">
            <div class="card-body text-center">
                <h5 class="card-title">nombre</h5>
                <p class="card-text">$---</p>
                <div class="d-flex" style="justify-content: space-evenly">
                    <a href="/DescripcionProducto" class="btn btn-outline-secondary">Ver más</a>
                    <a href="/Inicio" class="ov-btn-slide-left">Añadir</a>
                </div>
            </div>
        </div>

    </div>
</div>