<body>
<div class="card carrito">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Carrito</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">3 items</div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src="assets/images/comics/infinity-war.jpg"></div>
          <div class="col">
            <div class="row text-muted">Infinity war 3</div>
            <div class="row">Comic</div>
          </div>
          <div class="col">
            <a>-</a><a href="#" class="border numero">1</a><a>+</a>
          </div>
          <div class="col">$ 300<span class="close">&#10005;</span></div>
        </div>
      </div>
      <div class="row">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src="assets/images/comics/infinity-war.jpg"></div>
          <div class="col">
            <div class="row text-muted">Infinity war 2</div>
            <div class="row">Comic</div>
          </div>
          <div class="col">
            <a>-</a><a href="#" class="border numero">1</a><a>+</a>
          </div>
          <div class="col">$ 250 <span class="close">&#10005;</span></div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src="assets/images/comics/infinity-war.jpg"></div>
          <div class="col">
            <div class="row text-muted">Infinity war</div>
            <div class="row">Comic</div>
          </div>
          <div class="col">
            <a>-</a><a href="#" class="border numero">1</a><a>+</a>
          </div>
          <div class="col">$ 200 <span class="close">&#10005;</span></div>
        </div>
      </div>
      <div class="back-to-shop"><a [routerLink]="['/Inicio']" style="text-decoration: none">&leftarrow;</a><span class="text-muted">Volver</span></div>
    </div>
    <div class="col-md-4 summary">
      <div class="precio" style="margin-top: 8rem;">
        <div>
          <h5><b>Precio</b></h5>
        </div>
        <hr>
        <div class="row">
          <div class="col" style="padding-left:0;">ITEMS 3</div>
          <div class="col text-right">$ 750.00</div>
        </div>
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
          <div class="col">TOTAL</div>
          <div class="col text-right">$800.00</div>
        </div>
        <button class="btn">PAGAR</button>
      </div>
    </div>
  </div>
</div>
</body>
