<footer>
    <section class="spikes"></section>
    <div class="footer-wrap">
        <div class="container first_class">
            <br>
            <div class="row">
                <div class="col-md-4 col-sm-6">

                </div>

            </div>
        </div>
        <div class="second_class">
            <div class="container second_class_bdr">
                <div class="row" style="justify-content: center;">
                    <div class="col-md-4 col-sm-6">

                        <div class="footer-logo d-flex align-items-center" style="justify-content: center;">
                            <img src="../../../assets/images/logo_todocolor.png" alt="logo" width="70s">
                            <a [routerLink]="['/Inicio']" class="nombreApp ps-3">KnockOut</a>
                        </div>
                        <p class="text-center">El lugar donde podes encontrar lo que te gusta</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="container-fluid">
                <div class="copyright"> Copyright 2023 | All Rights Reserved by KnockOut.</div>
            </div>
        </div>
    </div>

</footer>