<header>
    <div class="p-4 d-flex justify-content-around align-items-center">
        <div class="d-flex align-items-center">
            <div id="logo">
                <a [routerLink]="['/Inicio']"><img src="../../../assets/images/logo.png" width="70" alt=""></a>
            </div>

            <div>
                <h4 class="m-2 ps-2">
                    {{title}}
                </h4>
            </div>
        </div>

        <div class="w-25">
            <form class="d-flex justify-content-center" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>

        <div class="d-flex align-items-center">
            <a class="btn btn-primary px-3 me-2 shadow" [routerLink]="['/signin']"> Iniciar sesión</a>
            <a class="btn btn-success px-3 me-2 shadow" [routerLink]="['/signup']"> Registrarse</a>
        </div>
        <div>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit" [routerLink]="['/Carrito']">
              <i class="bi-cart-fill me-1"></i>
              Carrito
            </button>
            </form>
        </div>
        <!--  CUANDO INICIE SESION DEBE APARECER EL CARRITO Y EL BTN DE CERRAR SESION
        <div class="d-flex align-items-center">
          <a class="btn btn-danger px-3 me-2 shadow" [routerLink]="['/Logout']"> Cerrar sesión</a>
          <div>
            CARRITO
          </div>
        </div>
      -->

    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Links -->
                <ul class=" menu navbar-nav me-auto mb-2 mb-lg-0 w-100">
                    <li class="nav-item w-25 text-center">
                        <a class="nav-link" [routerLink]="['/Inicio']">Inicio</a>
                    </li>
                    <li class="nav-item w-25 text-center">
                        <a class="nav-link" [routerLink]="['/Comics']">Comics</a>
                    </li>
                    <li class="nav-item w-25 text-center">
                        <a class="nav-link" [routerLink]="['/Mangas']">Mangas</a>
                    </li>
                    <li class="nav-item w-25 text-center">
                        <a class="nav-link" [routerLink]="['/Libros']">Libros</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>