<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <span class="m-2">
      {{title}}
    </span>

    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 4</a>
        </li>
      </ul>
      <!-- Busqueda -->
      <div style="margin-right: 20%">
        <form class="d-flex justify-content-center" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
      <!-- Botones de login y logup -->
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-success px-3 me-2 shadow">
          Login
        </button>
        <button type="button" class="btn btn-primary me-3 shadow">
          Logup!
        </button>
      </div>
    </div>
  </div>
</nav>
