<div class="container">
  <div class="row row-cols-3 mt-5">
      <div *ngFor="let i of lista" class=" col card m-2 mt-5" style="width: 18rem;">
        <img src="assets/images/infinity-war.jpg" class="card-img-top" alt="imagen">
        <div class="card-body text-center">
          <h5 class="card-title">{{i[0]}}</h5>
          <p class="card-text">${{i[1]}}</p>
          <div class="d-flex" style="justify-content: space-evenly">
            <a href="/Inicio" class="btn btn-outline-secondary">Ver más</a>
            <a href="/Inicio" class="ov-btn-slide-left">Añadir</a>
          </div>
        </div>
      </div>
    </div>
</div>
