.card{
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
	cursor: pointer;
}

.card:hover{
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/*** boton ver mas ***/
.ov-btn-slide-left {
	background: #4741d7; /* color de fondo */
	color: #fff; /* color de fuente */
	padding: 6px 10px;
	border-radius: 5px; /* redondear bordes */
	position: relative;
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
  }
  .ov-btn-slide-left:hover {
	color: #fff; /* color de fuente hover */
  }
  .ov-btn-slide-left::after {
	content: "";
	background: #212529; /* color de fondo hover */
	border: 2px solid #212529;
	position: absolute;
	z-index: -1;
	padding: 6px 10px;
	display: block;
	top: 0;
	bottom: 0;
	left: -100%;
	right: 100%;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
  }
  .ov-btn-slide-left:hover::after {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
  }

  /* *************************** */
  /* Animation properties */
.star {
	animation: star 10s ease-out infinite;
}

.wars {
	animation: wars 10s ease-out infinite;
}

.byline span {
	animation: spin-letters 10s linear infinite;
}

.byline {
	animation: move-byline 10s linear infinite;
}
  
  /* Keyframes */
@keyframes star {
	0% {
		opacity: 0;
		transform: scale(1.5) translateY(-0.75em);
	}

	20% {
		opacity: 1;
	}

	89% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: translateZ(-1000em);
	}
}
  
@keyframes wars {
	0% {
	  opacity: 0;
	  transform: scale(1.5) translateY(0.5em);
	}

	20% {
	  opacity: 1;
	}

	90% {
	  opacity: 1;
	  transform: scale(1);
	}

	100% {
	  opacity: 0;
	  transform: translateZ(-1000em);
	}
}
  
@keyframes spin-letters {
	0%, 10% {
	  opacity: 0;
	  transform: rotateY(90deg);
	}

	30% {
	  opacity: 1;
	}

	70%, 86% {
	  transform: rotateY(0);
	  opacity: 1;
	}

	95%, 100% {
	  opacity: 0;
	}
}
  
@keyframes move-byline {
	0% {
	  transform: translateZ(5em);
	}

	100% {
	  transform: translateZ(0);
	}
}
  
  /* Make the 3D work on the container */
.starwars-demo {
	perspective: 800px;
	transform-style: preserve3d;
}
  
  /* General styles and layout */
  
.starwars-demo {
	height: 17em;
	left: 50%;
	position: absolute;
	top: 53%;
	transform: translate(-50%, -50%);
	width: 34em;
}
  
.byline span {
	display: inline-block;
}
  
.img1 {
	width: 100%;
}
  
.star, .wars, .byline {
	position: absolute;
}
  
.star {
	top: -2.75em;
}
  
.wars {
	bottom: 1.5em;
}
  
.byline {
	color: #fff;
	font-family: "ITC Serif Gothic", Lato;
	font-size: 2.25em;
	left: -2em;
	letter-spacing: 0.4em;
	right: -2em;
	text-align: center;
	text-transform: uppercase;
	top: 29%;
}
  
/*** Media queries for adjusting to different screen sizes ***/
  
@media only screen and (max-width: 600px) {
	.starwars-demo {
	  	font-size: 10px;
	}
}
  
@media only screen and (max-width: 480px) {
	.starwars-demo {
		font-size: 7px;
	}
}

.secciones{
	margin-top: 7%;
}