/*** boton ver mas ***/

.ov-btn-slide-left {
    background: #4741d7;
    /* color de fondo */
    color: #fff;
    /* color de fuente */
    padding: 6px 10px;
    border-radius: 5px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
}

.ov-btn-slide-left:hover {
    color: #fff;
    /* color de fuente hover */
}

.ov-btn-slide-left::after {
    content: "";
    background: #212529;
    /* color de fondo hover */
    border: 2px solid #212529;
    position: absolute;
    z-index: -1;
    padding: 6px 10px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.ov-btn-slide-left:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.sumar {
    color: #000000;
}

.sumar:hover {
    transform: scale(1.1);
}